body {
  height: 400px;
  background-image:url("//https://ar.pinterest.com/pin/680817668673008556/");
background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}